azul-security>=0.8.0.0
azul-bedrock
black
cachetools
click>=8.0.0
opensearch-py>=2.3.0
pendulum>=3.0.0
pydantic>=2.4
pydantic-settings>2
python-dotenv
cart>=1.2.3
httpx
malpz
prometheus-client
python-multipart>=0.0.5
pyzipper>=0.3.6
lark>=1.1.9
python-json-logger>=3.2.1
xxhash